.main {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}
.filt {
  height: 30px;
  margin-bottom: 10px;
}
.el-input {
  width: 250px;
}
.el-pagination {
  margin-top: 5px;
}
.notice-detail {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.look {
  color: #409EFF;
}
.look:hover {
  cursor: pointer;
}
.notice-title-box:hover {
  cursor: pointer;
  color: #409EFF;
}
/deep/ .el-scrollbar__wrap {
  overflow-x: hidden;
}
.notice-title-box {
  padding-left: 20px;
}
