.submit-box {
    height: 500px;
    background-image: url('../../../../public/images/homeBG.jpg');
    position: relative;
    display: flex;
    justify-content: center;
}
.notice {
    height: 100px;
    background-color: #303133;
}
.circle-border {
    width: 500px;
    height: 500px;
    background-image: url('../../../../public//images/circle_border.png');
    background-size: contain;
    animation: rotate 10s linear infinite;
}
@keyframes rotate {
    from{
        transform: rotateZ(0);
    }
    to{
        transform: rotateZ(360deg);
    }
}
.computer {
    z-index: 10;
    width: 676px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../../../../public/images/computer.png');
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .name {
        color: #FFFFFF;
        font-size: 96px;
    }
}
.submit-btn {
    background-color: rgba(83, 168, 255, 0.2) !important;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
.submit-btn:hover {
    background-color: #409EFF !important;
}