.content {
    padding: 30px;
}
.userinfo-box {
    display: flex;
    align-items: center;
}
.avatar-box {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.userInfo-detail {
    margin-left: 50px;
}