.content {
    padding: 30px;
}
.little-title {
    font-size: 18px;
    margin-bottom: 10px;
}
.advise-box {
    margin: 10px 0;
}
.rank-box {
    margin: 10px 0;
}
.reason-box {
    display: flex;
    margin: 10px 0;
}
.reason {
    width: 350px;
}
.button-top {
    margin-top: 10px;
}
.download-attach {
    margin-top: 10px;
}
.attach-name {
    color: #409EFF;
}