.gift-name {
    /deep/ .el-input__inner {
        width: 220px;
    }
}
.login-bottom {
    display: flex;
    justify-content: center;
}
.err {
    text-align: center;
    color: #F56C6C;
    margin-bottom: 5px;
}
.gift-img {
    max-width: 150px;
}
.el-upload__tip {
    margin-left: -60px;
    margin-top: 0;
    height: 20px;
    line-height: 20px;
}
/deep/ .el-textarea__inner {
    width: 300px;
}
/deep/ .el-scrollbar__wrap {
    overflow-x: hidden;
}