.add-btn {
    margin-bottom: 10px;
}
.btn-box {
    display: flex;
}
.gift-detail {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}