.header {
    background-color: #fff;
}
.header-content {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.company {
    height: 60px;
    display: flex;
}
.logo {
    height: 60px;
    display: flex;
    align-items: center;
    .logo-img {
      background-image: url('../../../assets/images/lixiang.png');
      background-size: contain;
      height: 50px;
      width: 50px;
    } 
}
.company-name-en {
    padding: 5px 0;
    height: 20px;
    font-size: 14px;
    color: '#303133'
}
.company-name-cn {
    height: 20px;
    padding-top: 10px;
    letter-spacing: 2px;
    color: '#303133'
}
.btn-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 180px;
}
.person {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 180px;
}
.avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
    img {
        height: 30px;
        width: 30px;
    }
}
.el-dropdown-link {
    cursor: pointer;
    color: #303133;
}