body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
div,
pre,
textarea {
    margin: 0;
    padding: 0;
    color: '#606266';
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
p,
input,
pre,
textarea,
span {
    font-size: 14px;
}
body {
    background-color: rgb(250, 250, 250);
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.text-center {
    text-align: center;
}