.filt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .filt-label {
        margin-left: 20px;
    }
    margin-bottom: 10px;
}
.el-input {
    width: 250px;
}